#tj {
  height: 28vh;
  width: 15vw;
}

li {
  margin: 3vw;
}

#victorian {
  position: relative;
  height: 70vh;
  width: 35vw;
}

#popcorn {
    position: relative;
    height: 10vh;
    width: 10.2vh;
    transform: rotate(45deg);
    
}

#popcorn2 {
    position: relative;
    height: 10vh;
    width: 10.2vh;
    transform: rotate(-45deg);
}

#home {
  position: absolute;
  text-align: center;
  margin-left: 70vh;
  padding: 5vh;
}

#text {
    text-align: center;
    text-shadow: 0px 1px, grey;
}
